.fillPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
video, input {
    display: block;
}

input {
    width: 100%;       
}

.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
}  
